PORT=8080
APP_ENV=local
BLUEPRINT_DB_URL=postgres://myuser:mypassword@localhost:5432/mydatabase?sslmode=disable

GOOSE_DRIVER=postgres
GOOSE_DBSTRING="postgres://myuser:mypassword@localhost:5432/mydatabase?sslmode=disable"
GOOSE_MIGRATION_DIR=./internal/database/migrations

COOKIE=

# Appwrite environment variables
PROJECT_KEY=
API_KEY=
BUCKET_ID=

